.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai
.DS_Store
13100085.csv
13100085_MetaData.csv
MentalHealth.csv
MentalHealth.html
13100465.csv
13100465_MetaData.csv
Mental Health in Newfoundland and Labrador.html
Mental Health in Newfoundland and Labrador_files/
Mental-Health-in-Newfoundland-and-Labrador_files/
Mental Health in Canada.html
Mental Health in Canada_files
Mental-Health-in-Canada_files
